* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: #f1ffed;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-texto {
    font-weight: 700;
    font-size: 35px;
    color: #000;
    letter-spacing: -1px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav ul li a {
    color: gray;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 0px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #62c344;
    color: #f1ffed;
}

.btn-cadastre-se {
    color: #394934;
    border: 2px solid #62c344;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 18px;
    transition: 0.3s;
}

.btn-cadastre-se:hover {
    background-color: #62c344;
    color: #f1ffed;
    cursor: pointer;
}

.btn-cadastre-se:active {
    transform: scale(0.90);
}

@media (max-width: 768px) {
    .logo-texto {
        font-size: 45px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 45px;
    }

    nav ul li a {
        display: inline-block;
        font-size: 24px;
        padding: 10px 30px;
        width: 75%;
        margin: 0 auto;
    }

    .btn-cadastre-se {
        font-size: 24px;
        width: 75%;
        text-align: center;
    }

    header {
        flex-direction: column;
        gap: 30px;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
}