html{
    background-color:gray;
    font-size: 20px;
    width: 50%;
}

/* 1 em = 16 pixels */

body{
    background-color: #10ccff;
    font-size: 2rem;
   width: 50%;
}

.pai{
    background-color: red;
    width: 50%;
    font-size: 4rem;
}

.hija{
    background-color: yellow;
    width: 50%;
    font-size: 5rem;
}